.container{ 
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 10px;
    padding-right: 10px; */
}
.service-container {
    max-width: 50%;
    margin-top: 15%;
    /* width: auto; */
}

/* a { 
  color: rgb(9, 10, 10);
  text-decoration: none;
} */

.links .link { 
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
}
    
.link a{ 
    position: relative;
    display: block;
    color: rgb(9, 10, 10);
    font-size: 20px;
    font-family: Lato, sans-serif;
    text-decoration: none;
    margin: 30px 0;
    /* border: 2px solid rgb(9, 10, 10); */
    padding: 14px 50px;
    /* overflow: hidden; */
    transition: 0.75s all ease;
    /* border-radius: 5px; */
    text-align: center;

    
  border: solid 1px rgb(9, 10, 10);
  padding: 3px;
  height: 1.5em; 
  border-radius: 4px; 
  background-clip: content-box; 
  background-color: white;
  line-height: 1.5;
  font-size: 20px;
  text-indent: 0.5rem;
      
      }
.link a:hover { 
    background-color: rgb(20, 22, 22);
    color: white;
    border-style: dashed;
    /* text-decoration: underline; */
  }

.image-container {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }

.exit-icon {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(icons/);
  background-size: 100px 82px;
}

.exit-icon:hover {
  background-image: "../icons/chevron-left-solid-black.svg";
}

